html(lang="en")
  head
    meta(charset="UTF-8")
    title URL Shortener Microservice
    meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
    meta(name="author" content="djy")
    meta(name="viewport" content="device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")

body
  block content